In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow import keras
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('insurance.csv')
df.head(5)

   age  affordability  have_insurance
0   22              1               0
1   25              0               0
2   47              1               1
3   52              0               0
4   46              1               1

In [3]:
from sklearn.model_selection import train_test_split
X_train , X_test , y_train , y_test = train_test_split(df[['age','affordability']],df.have_insurance,test_size=0.2 , random_state = 0)

In [4]:
len(X_train)

21

In [5]:
X_train_scaled = X_train.copy()
X_train_scaled['age'] = X_train_scaled['age']/100

X_test_scaled = X_test.copy()
X_test_scaled['age'] = X_test_scaled['age']/100
X_train_scaled.head(5)

     age  affordability
23  0.45              1
13  0.29              0
19  0.18              1
20  0.21              1
16  0.25              0

In [6]:
model = keras.Sequential([
    keras.layers.Dense(1,input_shape = (2,),activation = 'sigmoid',kernel_initializer='ones',bias_initializer='zeros')
])

model.compile(
    optimizer = 'adam',
    loss = 'binary_crossentropy',
    metrics = ['accuracy']
)

model.fit(X_train_scaled , y_train, epochs=10)    #make epochs 10000

Epoch 1/10
1/1 [==============================] - 0s 0s/step - loss: 0.7105 - accuracy: 0.4762
Epoch 2/10
1/1 [==============================] - 0s 4ms/step - loss: 0.7102 - accuracy: 0.4762
Epoch 3/10
1/1 [==============================] - 0s 4ms/step - loss: 0.7098 - accuracy: 0.4762
Epoch 4/10
1/1 [==============================] - 0s 4ms/step - loss: 0.7095 - accuracy: 0.4762
Epoch 5/10
1/1 [==============================] - 0s 3ms/step - loss: 0.7091 - accuracy: 0.4762
Epoch 6/10
1/1 [==============================] - 0s 9ms/step - loss: 0.7088 - accuracy: 0.4762
Epoch 7/10
1/1 [==============================] - 0s 4ms/step - loss: 0.7085 - accuracy: 0.4762
Epoch 8/10
1/1 [==============================] - 0s 5ms/step - loss: 0.7081 - accuracy: 0.4762
Epoch 9/10
1/1 [==============================] - 0s 3ms/step - loss: 0.7078 - accuracy: 0.4762
Epoch 10/10
1/1 [==============================] - 0s 2ms/step - loss: 0.7074 - accuracy: 0.4762

In [7]:
model.evaluate(X_test_scaled , y_test)

1/1 [==============================] - 0s 2ms/step - loss: 0.4200 - accuracy: 0.8333

[0.4200005531311035, 0.8333333134651184]

In [8]:
model.predict(X_test_scaled)

array([[0.8092768 ],
       [0.813819  ],
       [0.8123143 ],
       [0.8255223 ],
       [0.822652  ],
       [0.77854645]], dtype=float32)

In [9]:
X_test_scaled

     age  affordability
2   0.47              1
24  0.50              1
14  0.49              1
17  0.58              1
5   0.56              1
11  0.28              1

In [10]:
coef , intercept = model.get_weights()
coef , intercept

(array([[0.990011  ],
        [0.99000764]], dtype=float32),
 array([-0.00999472], dtype=float32))

In [11]:
def sigmoid(x):
    import math
    return 1/(1+math.exp(-x))
sigmoid(10)

0.9999546021312976

In [12]:
def prediction_functin(age , affordability):
    weighted_sum = coef[0]*age + coef[1]*affordability + intercept
    return sigmoid(weighted_sum)

In [13]:
prediction_functin(0.47 , 1)

0.8092768210754775

### Gradient descent using python

In [14]:
def log_loss(y_true , y_predicted):
    epsilon = 1e-15
    y_predicted_new = [max(i,epsilon) for i in y_predicted]
    y_predicted_new = [min(i,1-epsilon) for i in y_predicted]
    y_predicted_new = np.array(y_predicted_new)
    return -np.mean(y_true * np.log(y_predicted_new)+(1-y_true)*np.log(1-y_predicted_new))

In [15]:
def sigmoid_numpy(x):
    return 1/(1+np.exp(-x))

sigmoid_numpy(np.array([12,1,0]))

array([0.99999386, 0.73105858, 0.5       ])

# Neural Network from Scratch with Python

In [16]:
class myNN:
    def __init__(self):
        self.w1 = 1
        self.w2= 1 
        self.bias = 0 
    
    def fit(self, X , y , epochs , loss_treshold):
        self.w1, self.w2, self.bias = self.gradient_descent_function(X['age'], X['affordability'], y_train,epochs,loss_treshold)
    
    def predict(self, X_test):
        weighted_sum = self.w1 * X_test['age'] +self.w2 * X_test['affordability'] + self.bias
        return sigmoid_numpy(weighted_sum)
    
    
    def gradient_descent_function(self,age , affordability , y_true , epochs,log_treshhold):
        w1=w2 = 1
        b = 0
        n = len(age)
        rate = 0.01

        for i in range(epochs):
            weighted_sum = w1*age + w2*affordability +b

            y_predicted = sigmoid_numpy(weighted_sum)

            loss = log_loss(y_true , y_predicted)

            w1_d = (1/n)*np.dot(np.transpose(age),(y_predicted - y_true))
            w2_d = (1/n)*np.dot(np.transpose(affordability),(y_predicted - y_true))

            bias_d = np.mean(y_predicted - y_true)

            w1 = w1 - rate * w1_d
            w2 = w2 - rate * w2_d

            b = b - rate*bias_d
            
            if i%50==0 :
                print(f'epochs:{i} , w1 : {w1}, w2:{w2}, bias:{b} , loss:{loss} ')

            if loss <=log_treshhold :
                print('/n')
                print(f'epochs:{i} , w1 : {w1}, w2:{w2}, bias:{b} , loss:{loss} ')
                break
        return w1, w2 , b

In [17]:
coef , intercept

(array([[0.990011  ],
        [0.99000764]], dtype=float32),
 array([-0.00999472], dtype=float32))

In [18]:
custom_model = myNN()
custom_model.fit(X_train_scaled , y_train , epochs = 10 , loss_treshold = 0.5227 ) #make epochs 10000

epochs:0 , w1 : 0.9995803137707342, w2:0.9991368771063709, bias:-0.002215324544944842 , loss:0.710538015944014

In [19]:
coef, intercept

(array([[0.990011  ],
        [0.99000764]], dtype=float32),
 array([-0.00999472], dtype=float32))

In [20]:
custom_model.predict(X_test_scaled)

2     0.808090
24    0.812681
14    0.811160
17    0.824508
5     0.821608
11    0.777028
dtype: float64

In [21]:
model.predict(X_test_scaled)

array([[0.8092768 ],
       [0.813819  ],
       [0.8123143 ],
       [0.8255223 ],
       [0.822652  ],
       [0.77854645]], dtype=float32)